name: CI
on:
  schedule:
    - cron: '12 9 * * *'
  push:
    branches:
      - master

env:
  FOUNDRY_PROFILE: ci
  ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
  ETH_RPC_URL: ${{ secrets.ETH_RPC_URL }}
  ARBI_RPC_URL: ${{ secrets.ARBI_RPC_URL }}
  OP_PRC_URL: ${{ secrets.OP_PRC_URL }}
  MATIC_RPC_URL: ${{ secrets.MATIC_RPC_URL }}

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install deps
        run: forge install

      - name: Run tests
        run: forge test -vvv
